@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2? family= Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700 & display=swap');

:root {
    --cor01: #021124;
    --cor02: #2c2f3f;
    --cor03: #ffff;
    --cor04: #212431;
    --cor05: #149ddd;
    --cor06: #a8a9b4;
    --cor07:#6f7180;
    --cor08: #000;
}

body, html {
    font-family: 'Ubuntu' sans-serif, arial;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--cor01);
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid var(--cor02);
    border-radius: 50%;
}

#header .profile h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--cor03);
}

#header .profile .social_links a {
    font-size: 1rem;
    background: var(--cor04);
    color: var(--cor03);
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}

#header .profile .social_links a:hover {
    background: var(--cor05);
}

.nav_menu {
    padding: 1.5rem;
}

.nav_menu a, .nav_menu a:focus {
    display: flex;
    align-items: center;
    color: var(--cor06);
    transition: 0.3s;
    font-size: 15px;
}

.nav_menu a i, .nav_menu a:focus i {
    font-size: 24px;
    padding-right: 0.8rem;
    color: var(--cor07);
}

.nave_menu a:hover, .nav_menu .active,
.nav_menu .active:focus,
.nav_menu li:hover > a {
    text-decoration: none;
    color: var(--cor03);
}

.nave_menu a:hover i, 
.nav_menu .active i,
.nav_menu .active:focus,
.nav_menu li:hover > a i {
    color: var(--cor05);
}

#main {
    margin-left: 300px;
}

section#inicio {
    background-image: url(./imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100vh;
}

section#inicio h2 {
    font-size: 3.5rem;
}

section#inicio span#subtitle {
    margin-right: 7rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.text-shadow {
    text-shadow: 4px 4px 10px var(--cor08);
}

section#inicio div#arraste {
    width: 9rem;
}
section#inicio div#arraste a {
    text-decoration: none;
    color: var(--cor03);
}

i.menu-mobile {
    position: fixed;
    right: 1rem;
    top: 1rem;
    color: var(--cor03);
    background-color: #000;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px; height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left: 0;
}

@media (max-width: 1260px) {
    #header {
        left: -300px;
    }
    i.menu-mobile {
        display: flex;
    }
    section#inicio h2 {
        font-size: 2.9rem;
        margin-left: 0;

    }
    section#inicio span#subtitle {
        font-size: 1.2rem;
        margin-right: 0;
    }
    #main {
        margin-left: 0px;
    }
}
@media (max-width: 805px) and (min-width: 765px){
    section#inicio h2 {
        font-size: 2rem;
        margin-left: 0;

    }
    section#inicio span#subtitle {
        font-size: 1rem;
        margin-right: 0;
    }
}
